<html>
    <head>
        <title>Mariela's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Mariela's blog</a></h1>
        </div>

        <div>
            <p>published: 05.16.2015, 16:45</p>
            <h2><a href="">My first post</a></h2>
            <p>BLAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHHHHHHHHHHHHHHHHHHHHHH!</p>
        </div>

        <div>
            <p>published: 05.16.2015, 16:50</p>
            <h2><a href="">My second post</a></h2>
            <p>YEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAH!</p>
        </div>
    </body>
</html>